# Hunter Configuration Template
# -----------------------------

LOG_FILE=/var/log/auth.log

# Download GeoLite2-City.mmdb
GEOLITE_DB_PATH=/app/data/GeoLite2-City.mmdb

# Persistence
DATABASE_PATH=/app/data/clean_data_sqlite.db

# Map path & refresh rate
MAP_OUTPUT_PATH=/app/data/mapa_ataques.html
MAP_REFRESH_INTERVAL=60